@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Crete+Round&family=Outfit:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: #0093CF;
}

#title {
    margin-top: 200px;
    margin-bottom: 3%;
    text-align: center;
    font-size: xxx-large;
}

#container {
    height: 400px;
    width: 600px;
    background-color: #00CAFF;
    margin: 0 auto;
    border-radius: 6px;
    box-shadow: 0 0 20px 2px;
    padding: 50px;
    max-width: 70%;
}

#question_holder {
    margin: 0 auto;
}

#question {
    text-align: center;
    height: auto;
    font-size: xx-large;
}

.option {
   display: inline-block;
   text-align: center;
   width: 40%;
   height: 35px;
   margin: 40px 0 0 6%;
   font-size: x-large;
   border-radius: 6px;
}

#quiz_holder {
    display: none;
}

#play {
    background-color: #C5F8FF;
    display: block;
    margin: 0 auto;
    margin-top: 25%;
    top: 75px;
    font-size: xxx-large;
    width: 40%;
    height: 20%;
    border-radius: 6px;
}
